@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));


      .marquee-container {
        display: flex;
        overflow: hidden;
        user-select: none;
        gap: 1rem;
        mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
        -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
      }
      .marquee-content {
        flex-shrink: 0;
        display: flex;
        justify-content: space-around;
        min-width: 100%;
        gap: 1rem;
        animation: scrollX 40s linear infinite; 
      }
      .marquee-content.reverse {
        animation: scrollXReverse 45s linear infinite;
      }
      .marquee-container:hover .marquee-content {
        animation-play-state: paused;
      }
      @keyframes scrollX {
        from { transform: translateX(0); }
        to { transform: translateX(calc(-100% - 1rem)); }
      }
      @keyframes scrollXReverse {
        from { transform: translateX(calc(-100% - 1rem)); }
        to { transform: translateX(0); }
      }